.App {
  text-align: center;
}
React.Fragment{
  
  background: #232323;
}
body {
  background: rgba(114, 149, 201, 0.38);
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.article {
  border-radius : 60px;
  background: #FFF;
  border: 1px solid rgba(125, 130, 134, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 4px 4px 5px -1px rgb(0, 0, 0);
  padding: 3px 5px;
}
.news__author {
  text-decoration: underline;
  color: #007DDC;
}
.news__count {
  margin: 10px 0 0 0;
  display: block;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.none {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
